.coffee {
  width: 800px;

  margin: 0 auto;
  background-color: #e7e1db;

  .h1 {
    text-align: center;
    padding: 30px;
    font-size: 36px;
    color: #254252;
    font-weight: bold;
  }
  .h2 {
    font-size: 24px;
    padding: 10px;
    color: $color_title;
  }
  .cafeName {
    margin: 20px 20px 30px 20px;
    width: 100px;
  }
  .cafeAddress {
    margin-right: 50px;
    width: 200px;
  }
  .btn {
    background-color: $color_btn;
    color: $color_text;
    font-weight: bold;
    border: solid $color_btn;
    &:hover {
      background-color: darken($color_btn, 20%);
      transition-duration: 0.5s;
      cursor: pointer;
      color: #fff;
    }
  }
  .selection {
    display: flex;
    .feature,
    .price {
      margin: 50px 30px;
      .h3 {
        color: $color_title;
      }
      input {
        margin-left: 5px;
        width: 100px;
        height: 50px;
        background-color: $color_input;
        border: solid $color_input;
        color: $color_text;
        font-weight: bold;
        &:hover {
          background-color: darken($color_input, 10%);
          transition-duration: 0.5s;
          cursor: pointer;
          color: #fff;
        }
      }
      .h3 {
        margin-bottom: 30px;
        font-size: 20px;
      }
    }
  }
  ul {
    margin: 30px 0px 0px 50px;
    padding-bottom: 50px;
    li {
      letter-spacing: 3px;
      padding: 20px;
      color: #907478;
    }
  }
}
